body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #002F6C;
    background-size: cover;
    background-position: center;
    color: #fff;
}

h2 {
    margin-top: 20px;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}
